.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-self: start;
}

.services > .service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px #0002;
}

.services > .service > i {
    color: var(--main-color);
    font-size: 60px;
}

.services > .service > .service-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1em;
}

.services > .service > .service-description {
    font-size: 16px;
    line-height: 1.3em;
    color: #777;
}

@media (min-width: 768px) {
    .services {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .services {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
